.carouselContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #0000009a;
    z-index: 100;
    box-sizing: border-box;
}

.carouselContainer > .carouselContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 60%;
    height: 80%;
    padding: 1rem;
}

.carouselContainer > .carouselContent > .carouselHeader {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: end;
}

.carouselContainer > .carouselContent > .carouselHeader > .closeBtn {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    color: #ffffff;
}

.carouselContainer > .carouselContent > .carouselBody {
    display: flex;
    flex: 1;
}

.carouselContainer > .carouselContent > .carouselBody > .controlBtn {
    border: none;
    background-color: transparent;
    font-size: 3rem;
    cursor: pointer;
    color: #ffffff;
}

.carouselContainer > .carouselContent > .carouselBody > .itemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.carouselContainer > .carouselContent > .carouselBody > .itemContainer > .carouselImagePic {
    flex: 1;
    border-radius: 1rem;
}

.carouselContainer > .carouselContent > .carouselBody > .itemContainer > .itemDetails{
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    color: #ffffff;
    gap: 3rem;
    align-items: center;
}

.itemDetails .itemEvent {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.itemDate {
    font-size: 1.2rem;
}